/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.8;
  background-image: url('pp.jpg'); /* image filename */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #f7f0f0;
}
 {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #f5f7fa;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Header */
header {
  background: #0a0c0f;
  color: white;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(243, 237, 237);
  text-decoration: none;
  font-weight: bold;
}

/* Hero */

/* Sections */
section {
  padding: 4rem 0;
}

.skills-grid,
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
}

.skills-grid span,
.project-card {
  background: rgb(23, 17, 17);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(237, 229, 229);
  text-align: center;
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
   color: white;
  gap: 1rem;
  margin-top: 1rem;
}

form input,
form textarea {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

form button {
  padding: 0.75rem;
  background: #2581eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */
footer {
  background: #06090c;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .skills-grid,
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
